.nav-bar {
	
 border-bottom: 5px solid black;
 width: 100%;
 margin-bottom: 20px;
}


.comment {
	border-bottom: 2px solid black;
}


.detail-post {
	border-bottom: 5px solid black;
}

.nav-list {
	margin-left: 5%;
	
	font-size: 25px;
	display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 60%;


}


.delete-label {
	text-decoration: underline;
}

.drop-down-box {
	color: purple;

}

.drop-down {
	border: solid 2px black;
	background-color: gray;
	
	font-style: bold;
	font-size: 25px;
	

}


.form-field {
	margin-right: 10px;
}

.nav-list-item {

	display: block;
	float: left;
	margin-left: 40px;
    flex: 0 1 auto; 
    list-style-type: none;
}



ul {
	list-style-type: none;
}

.simple-post {

}

.simple-post-label {
	margin-right: 20px;
}

.category-label {
	margin-left: 50%;
	margin-bottom: 10%;
	font-size: 20px;
	font-style: bold;
	text-decoration: underline;

}

.post-label {
	margin-left: 50%;
	margin-bottom: 10%;

}